extends layout
block head
  link(rel='stylesheet', href='/stylesheets/bos.css')
  script(src='/javascripts/charts.min.js')
  script(src='/javascripts/bos.js')
  script(src='http://www.google.com/jsapi')
  script(src="javascripts/jquery.tablesorter.min.js")
  script.
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart', 'table']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
    google.setOnLoadCallback(drawLineChart);
    google.setOnLoadCallback(drawTable);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
      var totalwins = new Array();
      totalWins = [!{totalWins}];
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Label');
      data.addColumn('number', 'Value');
      data.addRows(6);
      data.setCell(0, 0, 'Brent');
      data.setCell(1, 0, 'Luke');
      data.setCell(2, 0, 'Scott');
      data.setCell(3, 0, 'Gazheek');
      data.setCell(4, 0, 'Aaron');
      data.setCell(5, 0, 'Harman');
      data.setCell(0, 1, (totalWins[0] < 0 ? 0 : totalWins[0]), totalWins[0].toString());
      data.setCell(1, 1, (totalWins[1] < 0 ? 0 : totalWins[1]), totalWins[1].toString());
      data.setCell(2, 1, (totalWins[2] < 0 ? 0 : totalWins[2]), totalWins[2].toString());
      data.setCell(3, 1, (totalWins[3] < 0 ? 0 : totalWins[3]), totalWins[3].toString());
      data.setCell(4, 1, (totalWins[4] < 0 ? 0 : totalWins[4]), totalWins[4].toString());
      data.setCell(5, 1, (totalWins[5] < 0 ? 0 : totalWins[5]), totalWins[5].toString());
      // Set chart options
      var options = {title: '', type:'baseball', height: 100};

      // Instantiate and draw our chart, passing in some options.
      chart = new BarsOfStuff(document.getElementById('chartdiv'));
      chart.draw(data, options);
    }

    function drawLineChart() {
      var historicalData = google.visualization.arrayToDataTable(!{winsByDay});
      // Set chart options
      var options = {title: '', width: 1140, height:420, hAxis:{slantedText:true}};

      // Instantiate and draw our chart, passing in some options.
      chart = new google.visualization.LineChart(document.getElementById('lineChartDiv'));
      chart.draw(historicalData, options);
    }

    function drawTable() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Name');
      data.addColumn('string', 'Team');
      data.addColumn('number', 'Wins');
      data.addColumn('number', 'Losses');
      data.addColumn('number', 'Auction Cost');
      data.addColumn('number', 'Projected Wins');
      data.addColumn('number', 'Projected Value');
      data.addRows(!{breakDown});

      var table = new google.visualization.Table(document.getElementById('fullTable'));
      //var formatter = new google.visualization.NumberFormat({negativeColor: 'red'});
      var win81Formatter = new google.visualization.ColorFormat();
      win81Formatter.addRange(0, 81, 'red');
      win81Formatter.addRange(81, 162, 'green');
      var negativeFormatter = new google.visualization.ColorFormat();
      negativeFormatter.addRange(-1000,-1,'red');
      negativeFormatter.addRange(1,1000,'green');
      negativeFormatter.format(data,4);
      negativeFormatter.format(data,6);
      win81Formatter.format(data,5);
      table.draw(data, {sortColumn: 6, sortAscending: false, allowHtml: true, showRowNumber: false});
    }
    // stop the carousel from rotating
    $(function() {
      $('.carousel').each(function(){
        $(this).carousel({
          interval: false
        });
      });
    });

    //$(function() {
    //  $("#userTeamTable").tablesorter();
    //});

block header

block content
  div(id='myCarousel', class='carousel slide', data-ride='carousel')
    // Indicators
    ol(class='carousel-indicators')
      li(class='active', data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    div(class='carousel-inner')
      div(class='item active')
        //img(data-src='holder.js/900x500/auto/#777:#7a7a7a/text:First slide', alt='First slide')
        div(id='chartContainer', class='container')
          h1(class='text-center white-title') Current Standings
          div(id='chartdiv')
      div(class='item')
        div(id='lineChartContainer', class='container')
          h1(class='text-center white-title') Historical Standings
          div(id='lineChartDiv')
      .item
        //img(data-src='holder.js/900x500/auto/#555:#5a5a5a/text:Third slide', alt='Third slide')
        .container
          .carousel-caption
            h1 One more for good measure.
            p
              | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
    a.left.carousel-control(href='#myCarousel', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
  div(class='container')
    h1(class='text-center') Current Team Records
  div(class='container')
    div(id='fullTable')
